/* line 4, scss/messenger.scss */
ul {
  padding: 0;
}

/* line 7, scss/messenger.scss */
li.contact-list__item {
  list-style: none;
  display: block;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px;
}
/* line 15, scss/messenger.scss */
li.contact-list__item:hover {
  background-color: #0088cc;
  color: white;
  cursor: pointer;
}

/* line 22, scss/messenger.scss */
.msg__bubble {
  border-radius: 6px;
  padding: 10px;
}

/* line 28, scss/messenger.scss */
.msg__to-me .msg__bubble {
  background-color: #ffeaa5;
}

/* line 34, scss/messenger.scss */
.msg__from-me .msg__bubble {
  background-color: #c8efb1;
}
