{% extends "base.html" %}

{% block title %}Ваш профиль: {{u.nickname}}{% endblock %}

{% block metas %}
{{super()}}
<meta name="uid" content="{{ u.id }}">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('social.static', filename='css/messenger.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">

    <div class="row" id="profile__menu">
        <div class="col-lg-12">
            <a class="inline-menu__item" href="{{url_for('social.profile')}}">Профиль</a>
            <a class="inline-menu__item inline-menu__item--selected" href="#">Личные сообщения</a>
        </div>
    </div>

    

    <div class="row" id="profile_messenger">
        <h2 class="row__header">Личные сообщения</h2>
        <div class="col-lg-12">
            
                <div class="row">
                    <div class="col-lg-4">
                        <section>
                            <h3 class="col__header">Пользователи</h3>
                            <ul id="messenger__contact-list">
                                {% set cu=u.get_contacted_users() %}
                                {% for c in cu['list'] %}
                                    <li class="contact-list__item" data-uid="{{c.uid}}">
                                        <img src="{{c.img}}" class="img img-responsive contact-avatar" />
                                        {{c.name}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-8">
                        <section>
                            <div>
                                <div id="chat__header"><h3 class="col__header" id="chat_header__text"></h3></div>
                                <div id="chat__controls">
                                    <button class="btn" id="chat__ban-button" title="Not set">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="divider"></div>
                            <div id="chat">
                                {% if cu['length']>0 %}
                                    Выберите пользователя для просмотра переписки
                                {% else %}
                                    Чтобы начать переписку отправьте сообщение со страницы профиля нужного пользователя
                                {% endif %}
                            </div>
                            <div class="divider"></div>
                            <textarea id="msg__textarea" placeholder="Ваше сообщение"></textarea>
                            <button id="msg__send-button" class="btn btn-large btn-default" disabled >Отправить</button>
                        </section>

                    </div>

                </div>
            
        </div>
    </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}



</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src ="{{ url_for('static', filename="js/common.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('social.static', filename="js/messenger.js") }}" type="text/javascript"></script>
{% endblock %}
