{% extends "base.html" %}

{% block title %}Ваш профиль: {{u.nickname}}{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('social.static', filename='css/profile.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">


    <div class="row" id ="profile__main">
        <h2 class="row__header">Профиль пользователя</h2>
        <div class="col-lg-3">

        <section id="avatar__dropzone" class="dropzone">
            {% if u.image %}
                    <img class="avatar-big" id="avatar__image" src="{{url_for('social.show_avatar', f=u.image)}}"/>
                {% endif %}
          <div id="dnd-cta">Перетащите новое фото сюда</div>
          <div id="or">-или-</div>
          <div class="browser">
            <label>
              <span>Выберите файл</span>
              <input type="file" name="files[]" multiple="multiple" title='Click to add Files'>
            </label>
          </div>
        </section>


        </div>

        <div class="col-lg-5">
            <section id="userinfo">
                <h1 id="nickname__title">{{u.nickname}}</h1>
                <div class="divider"></div>

                <label class="form-label" for="nickname__edit-input">Никнейм:</label>
                <div class="form-inline">
                  <div id ="nickname__group" class="form-group" >
                    {% if u.nickname %}{% set nick=u.nickname %}{% endif %}
                    <input type="text" class="form-control" id="nickname__edit-input" value="{{nick}}" placeholder="Add nickname">
                  </div>
                  <button id="nickname__save-button" class="btn btn-default">Сохранить</button>
                </div>

                <label class="form-label" for="nickname__edit-input">E-mail:</label>
                <div class="form-inline">
                  <div id ="email__group" class="form-group" >
                    <input type="text" class="form-control" id="email__edit-input" value="{{u.email}}" placeholder="Add nickname">
                  </div>
                  <button id="email__save-button" class="btn btn-default">Сохранить</button>
                </div>

                <div id="nickname__status"></div>
            </section>
        </div>

        <div class="col-lg-4">
            <h2>Авторизация</h2>
            {% if u.google_id %}
                Вы вошли с помощью Google
            {% endif %}
        </div>
    </div>

    <div class="divider"></div>


    <div class="row" id="profile_messenger">
        <h2 class="row__header">Личные сообщения</h2>
        <div class="col-lg-12">
            <section>
                <div class="row">
                    <div class="col-lg-3">
                        <h3 class="col__header">Пользователи</h3>
                        <ul id="messenger__contact-list">
                            <li class="contact-list__item">Федор Достоевский</li>
                            <li class="contact-list__item">Лев Толстой</li>
                            <li class="contact-list__item">George W. Bush Jr.</li>
                            <li class="contact-list__item">Steve Jobs</li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <h3 class="col__header">Ваш чат с пользователем _____</h3>
                        <!-- message -->
                        <div class="row msg__to-me">
                            <div class="col-lg-11 msg__bubble">message</div>
                        </div>

                        <!-- message -->
                        <div class="row msg__from-me">
                            <div class="col-lg-11 col-lg-offset-1 msg__bubble">message</div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}



</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src ="{{ url_for('static', filename="js/common.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="js/profile.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="lib/dmuploader.min.js") }}" type="text/javascript"></script>
{% endblock %}
