
// COLORS

$gray1: #161616;
$gray2: #323232;
$gray3: #878787;
$gray4: #c6c6c6;
$gray5: #efefef;
$gray6: #f8f8f8;

//$k-yellow: #ffc300;
$k-yellow: #ff9800;
$k-green: #27c257;
$k-blue: #08c;
//$k-orange: #ff7800;
$k-orange: #ff9800;

/* div {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
}
 */


