@import "config";


html {
  position: relative;
  min-height: 100%;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $gray3;
  /* Set the fixed height of the footer here */
  height: 3em;
  text-align: center;
  p {
    font-size: 80%;
    }
}

body {
    color: $gray2;
    background-color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* ================================= NAVBAR =============================*/






@media screen and (max-width: 996px){


}



/* ================================= END NAVBAR =============================*/
